certifi==2024.8.30 
charset-normalizer==3.3.2 
colorama==0.4.6
filelock==3.15.4 
fsspec==2024.6.1 
huggingface-hub==0.24.6 
idna==3.8 
numpy==2.1.1 
packaging==24.1 
pandas==2.2.2 
pyarrow==17.0.0 
python-dateutil==2.9.0.post0 
pytz==2024.1 
pyyaml==6.0.2 
requests==2.32.3 
six==1.16.0 
tqdm==4.66.5 
typing-extensions==4.12.2 
tzdata==2024.1 
urllib3==2.2.2 
